In [1]:
# import common pakages
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import sidetable

%matplotlib inline

In [2]:
df = pd.read_csv(r'Clean_SBA_Loan.csv')
df.head()

,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,UrbanRural,RevLineCr,LowDoc,DisbursementGross,MIS_Status,GrAppv,sector,isFranchise,sameState,backRealEstate,Portion
0,2006,162,2,2.0,0,0,1,N,N,253400.0,P I F,253400.0,Retail_trade,Franchise,0,0,0.75
1,2006,126,7,1.0,0,0,1,N,N,137300.0,P I F,137300.0,Accommodation_food_serv,No Franchise,0,0,0.85
2,2006,83,18,2.0,5,23,1,Y,N,438541.0,P I F,100000.0,Educational_services,No Franchise,0,0,0.50
3,2006,84,4,1.0,0,4,1,Y,N,51440.0,P I F,35000.0,Construction,No Franchise,1,0,0.50
4,2006,60,3,1.0,0,0,1,N,N,50000.0,P I F,50000.0,RE_rental_leasing,No Franchise,1,0,0.85

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334056 entries, 0 to 334055
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ApprovalFY         334056 non-null  int64
 1   Term               334056 non-null  int64
 2   NoEmp              334056 non-null  int64
 3   NewExist           334056 non-null  float64
 4   CreateJob          334056 non-null  int64
 5   RetainedJob        334056 non-null  int64
 6   UrbanRural         334056 non-null  int64
 7   RevLineCr          334056 non-null  object
 8   LowDoc             334056 non-null  object
 9   DisbursementGross  334056 non-null  float64
 10  MIS_Status         334056 non-null  object
 11  GrAppv             334056 non-null  float64
 12  sector             334056 non-null  object
 13  isFranchise        334056 non-null  object
 14  sameState          334056 non-null  int64
 15  backRealEstate     334056 non-null  int64
 16  Portion            334056 non-null  float64
dtypes: float64(4), int64(8), object(5)
memory usage: 43.3+ MB

### Stratified Sampling

**Stratified random sampling** is a method of sampling that involves the division of a population into smaller sub-groups known as strata.

**Size of samples**
![Sample](Sample_Size_Calculator.png)

**Formula for Stratified Random Sampling**

`(sample size/population size) x stratum size`

In [4]:
len(df[df['MIS_Status'] == 'CHGOFF'])

92456

In [6]:
len(df[df['MIS_Status'] == 'P I F'])

241600

In [7]:
len(df)

334056

In [5]:
## Sample Size of Strata 1 (CHGOFF)
(15793/len(df))*len(df[df['MIS_Status'] == 'CHGOFF'])

4370.996503580238

In [9]:
## Sample Size of Strata 2 (PIF)
(15793/len(df))*len(df[df['MIS_Status'] == 'P I F'])

11422.003496419762

In [11]:
15793/len(df)

0.04727650453816127

In [35]:
df_sample = df.groupby('MIS_Status').apply(lambda x:x.sample(frac=0.0473))

In [36]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15801 entries, ('CHGOFF', 125097) to ('P I F', 27892)
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ApprovalFY         15801 non-null  int64
 1   Term               15801 non-null  int64
 2   NoEmp              15801 non-null  int64
 3   NewExist           15801 non-null  float64
 4   CreateJob          15801 non-null  int64
 5   RetainedJob        15801 non-null  int64
 6   UrbanRural         15801 non-null  int64
 7   RevLineCr          15801 non-null  object
 8   LowDoc             15801 non-null  object
 9   DisbursementGross  15801 non-null  float64
 10  MIS_Status         15801 non-null  object
 11  GrAppv             15801 non-null  float64
 12  sector             15801 non-null  object
 13  isFranchise        15801 non-null  object
 14  sameState          15801 non-null  int64
 15  backRealEstate     15801 non-null  int64
 16  Portion            15801 non-null  float64
dtypes: float64(4), int64(8), object(5)
memory usage: 2.2+ MB

In [37]:
df_sample['MIS_Status'].value_counts()

P I F     11428
CHGOFF     4373
Name: MIS_Status, dtype: int64

In [39]:
df_sample.reset_index(drop=True, inplace=True)

In [40]:
df_sample.head()

,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,UrbanRural,RevLineCr,LowDoc,DisbursementGross,MIS_Status,GrAppv,sector,isFranchise,sameState,backRealEstate,Portion
0,2007,37,1,2.0,5,6,1,Y,N,39272.0,CHGOFF,20000.0,Other_no_pub,No Franchise,0,0,0.5
1,2006,41,7,1.0,0,7,1,Y,N,127500.0,CHGOFF,85000.0,Wholesale_trade,No Franchise,0,0,0.5
2,2006,27,1,1.0,0,1,1,N,N,22000.0,CHGOFF,22000.0,Trans_Ware,No Franchise,0,0,0.5
3,2006,52,3,2.0,1,3,1,N,N,35000.0,CHGOFF,25000.0,Trans_Ware,No Franchise,0,0,0.5
4,2001,13,14,1.0,14,14,1,Y,N,75011.0,CHGOFF,75000.0,Wholesale_trade,No Franchise,0,0,0.5

### Export DataFrame

In [41]:
# df_sample.to_csv('SBA_Loan_Sample.csv', index=False)